/**
* Generic styles
*
* @author		Haroen Viaene <haroen.viaene@student.odisee.be>
*
* @author		Bram(us) Van Damme <bramus.vandamme@kahosl.be>
* @author		Rogier van der Linde <rogier.vanderlinde@kahosl.be>
*/

/***************************
* Regular Classes
**************************/

.structural {
	position: absolute;
	left: -9999px;
}

.ir {
	display: block;
	background-size: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/***************************
* Reset things
**************************/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* use border-box box model everywhere */
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	border: 0;
}

/***************************
* YouTube / GMaps
**************************/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}