/**
* General stylesheet for SAF
*
* @author		Haroen Viaene <haroen.viaene@student.odisee.be>
*
* @author		Bram(us) Van Damme <bramus.vandamme@kahosl.be>
* @author		Rogier van der Linde <rogier.vanderlinde@kahosl.be>
*/

/***************************
* General
***************************/

html {
	font-size: 0.625em;  /* set 1 rem = 16px * 0.625 = 10px */
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	color: #222;
	font-size: 1.2rem;
}

.wrapper {
	min-width: 48rem;
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 3rem;
	padding-right: 3rem;
}

a {
	color: #000;
}

a:hover {
	color: #ccc;
}

p {
	padding: 1rem;
}

/***************************
* logo
***************************/

h1 {
	padding: 3rem;
	padding-top: 10rem;
	padding-bottom: 1rem;
}

h1 a{
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 9rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: lighter;
	color: #000;
}

h1 a:hover{
	color: #000;
}

/***************************
* Navigator menu
***************************/

#mainmenu ul {
	padding: 3rem;
	padding-top: 1rem;
}

#mainmenu ul li {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
}

#mainmenu ul li a {
	text-decoration: none;
	margin: 3rem;
	padding: 0.5rem;
}

#mainmenu ul li a::before {
	content: "||   ";
}

/***************************
* Article
***************************/
section.articles {
	float: left;
}

h2.main {
	padding: 1rem;
	text-transform: uppercase;
	color: #999;
	text-align: left;
}

article.line-up img {
	border: 1px solid #000;
	padding: 0.1rem;
	margin: 1rem;
	float: left;
}

article.line-up {
	border:3px solid #999;
	padding-top: 1rem;
	text-align: left;
	margin: 1rem;
	overflow: auto;
	width: 60rem;
}

article.line-up h1 {
	padding: 1rem;
}

article a.button-more {
	background-color: #F5F059;
	color: #000;
	font-weight: bold;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 0.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: 1rem;
	margin-right: 3rem;
	float: right;
}

article a.button-more:hover {
	background-color: #e7e367;
	color: #333;
}

article.line-up img {
	width: 21.5rem;
	height: auto;
}

/***************************
* Asidebar
***************************/

aside.sidebar {
	float: right;
	margin-top: 4rem;
}

article.featured {
	width: 25rem;
	text-align: left;
	margin-bottom: 3rem;
}

/* also used for  header 3 in info */
article.featured h1,
.info h3 {
	padding: 1rem;
	font-size: 1.4rem;
	border-bottom: 2px #000 solid;
	margin-bottom: 1rem;
}

article.featured ul li {
	display: inline-block;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

a.fb:hover {
	color: #3b5998;
}

a.tw:hover {
	color: #00aced;
}

a.ig:hover {
	color: #517fa4;
}

.featured {
	position: relative;
	width: 25rem;
}

.featured img {
	width: 25rem;
}

.featured h2 {
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
}

.featured h2.bandname span {
	color: white;
	text-transform: uppercase;
	font-family: Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: -1px;
	background: #000;
	padding: 1rem;
}

/***************************
* Tickets
***************************/

.tickets h2 {
	padding: 1rem;
	text-transform: uppercase;
	color: #999;
	text-align: left;
}

.tickets ul li {
	display: inline-block;
	padding: 0.3rem;
}

.tickets a.ir {
	display: block;
	width: 16rem;
	height: 16rem;
	background-repeat: no-repeat;
	background-image: url(../img/tickets.png);
	background-size: 800px 320px;
}

.tickets a.vrijdag { background-position: 0 0; }

.tickets a.zaterdag { background-position: -160px 0; }

.tickets a.zondag { background-position: -320px 0; }

.tickets a.combi { background-position: -480px 0; }

.tickets a.camping { background-position: -640px 0; }

.tickets a.vrijdag:hover { background-position: 0 -161px; }

.tickets a.zaterdag:hover { background-position: -160px -161px; }

.tickets a.zondag:hover { background-position: -320px -161px; }

.tickets a.combi:hover { background-position: -480px -161px; }

.tickets a.camping:hover { background-position: -640px -161px; }

/***************************
* spacing of the map
***************************/
.map {
	float: left;
	width: 60rem;
}

.contact {
	float: right;
	width: 25rem;
}

/***************************
* spacing of the location
***************************/

.address p {
	padding: 0.3rem;
}

/***************************
* Footer
***************************/

footer {
	clear: both;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.1rem;
	padding-top: 3rem;
}