/**
 * General stylesheet for SAF
 *
 * @author		Haroen Viaene <haroen.viaene@student.odisee.be>
 *
 * @author		Bram(us) Van Damme <bramus.vandamme@kahosl.be>
 * @author		Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 */

/***************************
 * General
 **************************/

html {
	font-size: 0.625em;  /* set 1 rem = 16px * 0.625 = 10px */
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
}

.wrapper {
	min-width: 48rem;
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a {
	color: #000;
}

a:hover {
	color: #ccc;
}

/***************************
 * Navigator menu
 **************************/

/* give the logo a thing here*/
#logo a::before {
	content: "THE LOGO ______ ";
}

#mainmenu ul {
	padding: 1rem;
}

#mainmenu ul li {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
}

#mainmenu ul li a {
	text-decoration: none;
	margin: 0.8rem;
	padding: 0.5rem;
}

/***************************
 * YouTube embedding
 **************************/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}